#home{
    color: mediumturquoise;
    background-color: darkslategrey;
    
}
#homes{
    color: mediumaquamarine;
    text-decoration: none;
}
body{
    background-color: lightslategrey;
}