div.grid-item{
    width: 3.5cm;
    height: 5cm;
    background-color: blue;
    border-radius: 2mm;
    box-shadow: 1mm 1mm 1mm;
    margin: 3mm;
    border-color: darkorange;
    border-style: double;

}
body{
    text-align: center;
    background-color: black;
}


#flex{
    display: flex;
    flex-direction: row;
}

.grid-item {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
div.hidden p {
    visibility: hidden;
}
div.fout {
    background-color: red;
}
div.correct {
    background-color: chartreuse;
}
body{
    user-select: none;
}
p{
    color: white;
    font-size: 2cm;
}

