body{
    background-color: dodgerblue;
}
h1{
    color: rgb(104, 103, 103);
}
a{
    background-color: rgb(16, 17, 2);
    color: rgb(22, 44, 170);
    display: block;
    padding: 12px;
    text-decoration: none;
    padding-left: 75px;
    padding-right: 75px;
    border: black;
}