body{
    text-align: center;
    background-image: url("http://i.giphy.com/JPC519aZWCxI4.gif")
}
a{
    background-color: darkturquoise;
    color: black;
    margin: 2mm;
    padding: 3mm;
    border-radius: 2mm;
    text-decoration-line: none;
    box-shadow: 1mm 1mm 1mm;
}
h1{
    color: blue;
}
h2{
    color: blue;
}
img{
    width: 10cm;
    height: 10cm;
}
#zwart{
    width: 15cm;
    height: 8cm;
}